API_ID = 21588558
API_HASH = fd03266c00cbe43884426d24faf3c58e
BOT_TOKEN = 8033347459:AAGnvSgMJsDkrq9JBd026j1L-sUrwsHLWGo
LOG_GROUP_ID = -1002850451600
MONGO_DB_URI = mongodb+srv://mrarya233:PqyVLX3AufQQpMz0@aatma.5frpmsj.mongodb.net/?retryWrites=true&w=majority
OWNER_ID = 6014895515
STRING_SESSION = BQFJak4AqJ7PuiGTCypXBwq0t4388xQdP7vUjsum_g6Qqwf52bjpTwDyoaztf8GL3RwUvERUeci7ir23N1uwgyH04O8qTcGc6CVN9U7wgTGfF68oj2EG3uX10dCsfP4BDzi2jRitRlQHE0AimqTgp0j1zNeLSR4yFX_MEivNvHrpaLdoaq2Ro5hOMJRGlJIPkUPbRh8-DjkxctDfYN1V8atYtRPxZX6zPAIS1-O57F8LQathB0p8F-YSg7sx8IWVEdieyMdArsCTwqeGmG895_RKQpWi6jT787dw8jqg6PMn-Ho0fC0xWWuXv47CKNjnyHPBJ5APxScpyjtRmduVIch4azgW4AAAAAHi3cT7AA
STRING_SESSION2 = 

